* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  overflow-x: hidden;
}

.v1_902 {
  width: 100%;
  height: 3838px;
  background: linear-gradient(
    rgba(255, 122, 250, 0.67),
    rgba(205, 192, 204, 0.36)
  );
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.v1_1065 {
  width: 844px;
  height: 581px;
  background: url("../images/v1_1065.png") no-repeat center center;
  background-size: cover;
  margin: 40px auto;
  opacity: 1;
  position: relative;
  overflow: hidden;
}

.v1_1066 {
  width: 844px;
  height: 581px;
  background: url("../images/v1_1066.png") no-repeat center center;
  background-size: cover;
  margin: 24px auto;
  opacity: 1;
  position: relative;
  overflow: hidden;
}

.v1_1067 {
  width: 100%;
  max-width: 844px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
  position: relative;
  margin: 0 auto;
}

.v1_1068 {
  width: 100%;
  max-width: 844px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 24px;
  opacity: 1;
  text-align: left;
  position: relative;
  margin: 10px auto;
}

.v1_1074 {
  width: 100%;
  max-width: 844px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 24px;
  opacity: 1;
  text-align: left;
  position: relative;
  margin: 10px auto;
}

.v1_1072 {
  width: 100%;
  max-width: 181px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 24px;
  opacity: 1;
  text-align: left;
  position: relative;
  margin: 20px auto;
}

.v1_1078 {
  width: 397px;
  height: 596px;
  background: url("../images/v1_1078.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  border-radius: 60px;
  margin: 40px auto;
  overflow: hidden;
}

.v1_1077 {
  width: 100%;
  max-width: 472px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
  position: relative;
  margin: 20px auto;
}

.v6_5,
.v6_4,
.v6_8 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  overflow: hidden;
  height: auto;
  aspect-ratio: 16 / 9;
  margin: 20px 0;
}

.v6_5 {
  background-image: url("../images/v6_5.png");
}

.v6_4 {
  background-image: url("../images/v6_4.png");
}

.v6_8 {
  background-image: url("../images/v6_8.png");
}

/* Адаптація під мобільні */
@media (max-width: 768px) {
  .v1_1065,
  .v1_1066,
  .v1_1078 {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  .v1_1067,
  .v1_1068,
  .v1_1074,
  .v1_1072,
  .v1_1077 {
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin: 10px auto;
  }

  .v6_5,
  .v6_4,
  .v6_8 {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
  }

  body {
    font-size: 14px;
  }
}
